<div id="right_column_flip">
    <h2>Hjelpesider</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Introduksjon", "/help/about" %></li>
        <li><%= link_to_unless_current "Lag henvendelse", "/help/requesting" %></li>
        <li><%= link_to_unless_current "Personvern", "/help/privacy" %></li>
        <li><%= link_to_unless_current "For saksbehandlere", "/help/officers" %></li>
        <li><%= link_to_unless_current "Om programvaren", "/help/alaveteli" %></li>
        <li><%= link_to_unless_current "Credits", "/help/credits" %></li>
        <li><%= link_to_unless_current "API", "/help/api" %></li>
        <li><%= link_to_unless_current "Vi trenger hjelp!", "/help/help_out" %></li>
        <li><%= link_to_unless_current "Avansert søk", "/advancedsearch" %></li>
    </ul>

    <h2 id="contact">Kontakt oss</h2>
    <p>Om det er noe du lurer på, eller om det er noe vi burde vite om tjenesten, <a href="/help/contact">ta&nbsp;kontakt med oss</a>.
    </p>
</div>


