<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Introduksjon</h1>
  <dl>

  <dt id="purpose">Hva er hensikten med <%= site_name %>? <a href="#purpose">#</a> </dt>
  <dd>Hjelpe deg med og finne informasjon om hva norske myndigheter holder på med, samt
   spare myndighetene for arbeid ved å gjøre informasjonen noen allerede har fått tak i
   enkelt tilgjengelig for alle.
  </dd>

  <dt id="premise">Hvordan fungerer denne tjenesten? <a href="#premise">#</a> </dt>
  <dd>Du velger hvilken myndighet du vil ha informasjon fra, så skriver du en henvendelse med en kort beskrivelse av det du vil vite. Vi sender henvendelsen din til den offentlige myndigheten. Alle svar vil automatisk bli publisert på dette nettstedet slik at du og alle andre kan lese de.</dd>

  <dt id="whybother_me">Hvorfor skal jeg være interessert i å gjøre dette? <a href="#whybother_me">#</a> </dt>
  <dd>Du betaler skatt, så gjør myndighetene ting med pengene dine. De gjør alle mulige slags ting, fra helsevesen til beskyttelse av landet. Noe av det gjøres dårlig, noe gjør de bra. Jo mer vi finner ut om hvordan myndighetene fungerer, jo større mulighet har vi til å foreslå forbedringer på det som fungerer dårlig, og feire det som går bra.
  </dd>

  <dt id="whybother_them">Hvorfor skulle myndighetene være interessert i å svare? <a href="#whybother_them">#</a> </dt>
  <dd>Offentlighetslova sier at myndighetene må svare. Svaret vil enten inneholde informasjonen du ber om, eller så må myndighetene gi deg en nøyaktig lovhjemmel som beskriver hvorfor de ikke kan utlevere dokumentene.
  </dd>

  <dt id="who">Hvem lager <%= site_name %>? <a href="#who">#</a> </dt>
  <dd><a href="http://www.nuug.no/">Foreningen NUUG</a> står bak tjenesten <%= site_name %>.
   Frivillige i NUUG har satt opp tjenesten, tilpasset den norske forhold og tar seg av det
   daglige vedlikeholdet.
   <%= site_name %> benytter programvaren Alaveteli, som er laget av <a href="http://www.mysociety.org">mySociety</a>,
  og var opprinnelig  <a href="http://www.mysociety.org/2006/12/06/funding-for-freedom-of-information/">finansiert av JRSST Charitable Trust</a>. mySociety er et av prosjektene til <a href="http://www.ukcod.org.uk/UK_Citizens_Online_Democracy">UK Citizens Online Democracy</a>.
  Om du liker det mySocity gjør, så kan du
  <a href="https://secure.mysociety.org/donate/">donere penger til dem</a>.
  </dd>

  <dt id="updates">Hvordan kan jeg  holde meg oppdatert på prosjektet? <a href="#updates">#</a> </dt>
  <dd>Vi har en <a href="<%= blog_path %>">blog</a> og en <a href="https://twitter.com/mimesbronn">twitter feed</a>.
  </dd>

  </dl>

  <p><strong>Neste</strong>, les om <a href="<%= help_requesting_path %>">å skrive en henvendelse</a> --&gt;

  <div id="hash_link_padding"></div>
</div>
