<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Introduksjon</h1>
  <dl>

  <dt id="purpose">Hva er hensikten med <%= site_name %>? <a href="#purpose">#</a> </dt>
  <dd>Hjelpe deg med og finne informasjon om hva norske myndigheter holder på med.
  </dd>

  <dt id="premise">Hvordan fungerer denne tjenesten? <a href="#premise">#</a> </dt>
  <dd>Du velger hvilken myndighet du vil ha informasjon fra, så skriver du en henvendelse med en kort beskrivelse av det du vil vite. Vi sender henvendelsen din til den offentlige myndigheten. Alle svar vil automatisk bli publisert på denne websiden slik at du og alle andre kan lese de.</dd>

  <dt id="whybother_me">Hvorfor skal jeg gidde å gjøre dette? <a href="#whybother_me">#</a> </dt>
  <dd>Du betaler skatt, så gjør myndighetene ting med pengene dine. De gjør alle mulige slags ting, fra helsevensen til beskyttelse av landet. Noe av det gjøres dårlig, noe gjør de bra. Jo mer vi finner ut om hvordan myndighetene fungerer, jo bedre kan vi foreslå forbedringer på det som fungerer dårlig, og feire det som går bra.
  </dd>

  <dt id="whybother_them">Hvorfor vil myndigheten gidde å svare? <a href="#whybother_them">#</a> </dt>
  <dd>Offentlighetslova sier at myndighetene må svare. Svaret vil enten 
inneholde informasjonen du ber om, eller så må myndighetene gi deg en nøyaktig hjemmel som beskriver hvorfor de ikke kan utlevere dokumentene.
  </dd>

  <dt id="who">Hvem lager <%= site_name %>? <a href="#who">#</a> </dt>
  <dd><%= site_name %> benytter programvaren Alaveteli, som er laget av <a href="http://www.mysociety.org">mySociety</a>,
  og var opprinnelig  <a href="http://www.mysociety.org/2006/12/06/funding-for-freedom-of-information/">finansiert av JRSST Charitable Trust</a>. mySociety er et av prosjektene til <a href="http://www.ukcod.org.uk/UK_Citizens_Online_Democracy">UK Citizens Online Democracy</a>.
  Om du liker det de gjør, så kan du
  <a href="https://secure.mysociety.org/donate/">gi en donasjon</a>.
  Tjenesten er tilpasset norske forhold og driftes av NUUG i Norge.
  </dd>

  <dt id="updates">Hvordan kan jeg  holde meg oppdatert på prosjektet? <a href="#updates">#</a> </dt>
  <dd>We have a <a href="<%= blog_path %>">blog</a> and a <a href="https://twitter.com/whatdotheyknow">twitter feed</a>.
  </dd>


  </dl>

  <p><strong>Neste</strong>, les om <a href="<%= help_requesting_path %>">å skrive en henvendelse</a> --&gt;

  <div id="hash_link_padding"></div>
</div>
