<% @title = "Saksbehandlere" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

  <dt id="top">Jeg kom hit ved å følge lenka nederst i en innsynsbegjæring, hva skjer her? <a href="#top">#</a> </dt>

  <dd><p><%= site_name %> er en tjeneste som driftes av frivillige. Den hjelper vanlige innbyggere å lage innsynsbegjæringer, og abonnere og dele svarene. </p>

  <p>Innsynsbegjæringen du fikk ble sendt av noen ved hjelp av <%= site_name %>. Det er enkelt for deg å svare på henvendelsen, akkurat som du ville gjort med enhver annen henvendelse fra en person. Den eneste forskjellen er at svaret blir publisert på Internettet automatisk.
  </p>
  <p>Om du har personvern- eller andre bekymringer, vennligst les svarene nedenfor. Du vil kanskje også lese dette <a
  href="<%= help_about_path %>">introduksjon til <%= site_name %></a>for å finne ut hvordan tjenesten fungerer sett fra en brukes synsvinkel. Du kan også søke på tjenesten for å finne myndigheten du jobber for, og se status på alle henvendelser som er utført ved hjelp av dette nettstedet.

  <p>Sist, vi setter pris på kommentarer og tanker fra saksbehandlere, det er fint om du lar <a href="<%= help_contact_path %>">hører fra deg</a>.
  </p>
  </dd>

  <dt id="responses">Hvorfor publiserer dere svarene fra innsynsbegjæringene? <a href="#responses">#</a> </dt>

  <dd>Vi mener det er flere gode grunner for det. Det viktigste er at det vil oppfordre befolkningen til å interessere seg mer og involvere seg i statens virksomhet. Vi håper det også vil redusere antall dupliserte henvendelser på alle tema som den offentlige myndigheten mottar. Siden innsynshenvendelsene inneholder offentlig informasjon, som alle enkelt kan be om igjen, ser vi ingen grunner for ikke å spre informasjonen.
  </dd>

  <dt id="realpeople">Er menneskene som lager henvendelsene virkelig mennesker? <a href="#realpeople">#</a> </dt>

  <dd>Ja. For at vi skal kunne holde orden på svarene, bruker vi data-genererte e-epost adresser for hver henvendelse. Men hver bruker må registrere seg på tjenesten med en unik e-post adresse som vi verifiserer. Du kan søke på siden for å finne en liste over alle innsynshenvendelser en person har utført.
  </dd>

  <!--<dt id="email_only">An email isn't a sufficient address for an FOI request! <a href="#email_only">#</a> </dt>

  <dd>Yes it is. This
  <a href="http://www.whatdotheyknow.com/request/1142/response/2894/attach/5/20080806100741260.pdf">letter from the ICO to Rother District Council</a> gives guidance on the matter, specifically
  in the context of requests made via WhatDoTheyKnow.
  </dd>
-->
<!-- Om dette skulle bli et problem får vi legge til noe i FAQ 
 <dt id="vexatious">Aren't you making lots of vexatious requests? <a href="#vexatious">#</a> </dt>

  <dd><p>WhatDoTheyKnow is not making any requests. We are sending requests on
  behalf of our users, who are real people making the requests. </p>
  <p>Look at it like this - if lots of different people made requests from
  different Hotmail email addresses, then you would not think that Microsoft were
  making vexatious requests. It is exactly the same if lots of requests are made
  via WhatDoTheyKnow. Moreover, since all requests are public it is much easier
  for you to see if one of our users is making vexatious requests. </p>
  <p>If that isn't enough for you, the
  <a href="http://www.whatdotheyknow.com/request/1142/response/2894/attach/5/20080806100741260.pdf">letter from the ICO to Rother District Council</a> gives some guidance on the matter.</p>
  </dd>
-->

  <dt id="spam_problems">Jeg kan se en henvendelse på <%= site_name %>, men vi fikk den aldri på epost!<a href="#spam_problems">#</a> </dt>
  <dd><p>Hvis en henvendelse vises på sidene, har vi forsøkt å sende den til myndigheten på epost. Leveransefeil vil på eposten vil automatisk vises på sidene. Du kan selv sjekke hvilken epost adresse vi benytter ved å benytte "Vis e-post adresse for innsyn" lenken som vises på siden til myndigheten. <a href="<%= help_contact_path %>">Kontakt oss</a> om du har en bedre adresse vi kan bruke.</p>
  <p>Henvendelsen kommer noen ganger ikke frem fordi de blir fjernet i stillhet av "spam filtrene" i IKT-avdelingen til organisasjonen. Myndighetene kan sikre seg mot at dette ikke skjer ved å be IKT "hvitliste" alle eposter fra <strong>@mimesbronn.no</strong>.
  Om du <a href="<%= help_contact_path %>">spør oss</a> vil vi videresende alle henvendelser, og/eller gi tekniske detaljer slik at IKT kan finne ut hvor det ble av meldingen.
  </p>

  <p>Til slutt, du kan også svare på henvendelser fra nettleseren din, uten å bruke epost, ved å benytte "Svar på henvendelsen" lenke nederst på siden til henvendelsen.</p>
  </dd>


  <dt id="days">Hvordan regner dere ut svarfristen som vises på sidene?<a href="#days">#</a> </dt>

  <dd>
  <p>Offentlighetslova sier:</p>

  <blockquote><p>Eit organ som mottek eit innsynskrav, skal vurdere kravet konkret og sjølvstendig. Kravet skal avgjerast utan ugrunna opphald.</p></blockquote>
  <p>The Freedom of Information Act says:</p>

  <p>Detaljene rundt hvordan vi regner ut dagene, og om når på døgnet henvendelsen kom m.m. er ikke viktig, det som er viktig her er at loven sier at myndighetene skal <strong>svare raskt</strong>.</p>

  <p>Om du har en god grunn for hvorfor henvendelsen kommer til å ta litt tid å behandle, vil innsynsbegjærer sette stor pris på at du raskt svarer med en setning om hva som skjer.</p>

  <p>Saksbehandlere har ofte mange saker å behandler, og det er vårt inntrykk at det ofte legges mye <strong>hardt arbeid</strong> i å svare på henvendelser. Dette arbeidet er ofte skjult for offentligheten. Vi tror det vil hjelpe alle om mer av denne kompleksiteten blir synlig.</p>
  </dd>


<!-- TODO: dette er et godt spørsmål men en jurist må se på det
  <dt id="days2">But really, how do you calculate the deadline?<a href="#days2">#</a> </dt>

  <dd>

  <p>Please read the answer to the previous question first. Legally, authorities
  must respond <strong>promptly</strong> to FOI requests. If they fail to do that,
  it is best if they show the hard work they are doing by explaining what is
  taking the extra time to do.
  </p>

  <p>That said, WhatDoTheyKnow does show the maximum legal deadline
  for response on each request. Here's how we calculate it.</p>

  <ul>

  <li>If the day we deliver the request by email is a working day, we count that
  as "day zero", even if it was delivered late in the evening. Days end at
  midnight.  We then count the next working day as "day one", and so on up to
  <strong>20 working days</strong>.</li>

  <li>If the day the request email was delivered was a non-working day, we count
  the next working day as "day one". Delivery is delivery, even if it happened on
  the weekend. Some authorities <a href="http://www.whatdotheyknow.com/request/policy_regarding_body_scans#incoming-1100">disagree with this</a>, our lawyer disagrees with them. </li>

  <li>Requesters are encouraged to mark when they have <strong>clarified</strong>
  their request so the clock resets, but sometimes they get this wrong. If you
  see a problem with a particular request, let us know and we'll fix it.</li>
  </ul>

  <p>The date thus calculated is shown on requests with the text "By law,
  Liverpool City Council should normally have responded by...". There is only
  one case which is not normal, see the next question about
  <a href="#public_interest_test">public interest test time extensions</a>.
  </p>

  <p>Schools are also a special case, which WhatDoTheyKnow displays differently.
  </p>

  <ul>
  <li>Since June 2009, <strong>schools</strong> have "20 working days
  disregarding any working day which is not a school day, or 60 working days,
  whichever is first" (<a href="http://www.opsi.gov.uk/si/si2009/draft/ukdsi_9780111477632_en_1">FOI (Time for Compliance with Request) Regulations 2009</a>). WhatDoTheyKnow indicates on requests to schools that the 20 day deadline is only
  during term time, and shows them as definitely overdue after 60 working days
  </li>
  </ul>

  <p>If you're getting really nerdy about all this, read the <a href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/detailed_specialist_guides/timeforcompliance.pdf">detailed ICO guidance</a>.
  Meanwhile, remember that the law says authorities must respond
  <strong>promptly</strong>. That's really what matters.</p>

  </dd>
-->

<!-- TODO: ikke relevant for Norge?
  <dt id="public_interest_test">How do you reflect time extensions for public interest tests?<a href="#public_interest_test">#</a> </dt>

  <dd>

  <p>The Freedom of Information Act lets authorities claim an indefinite time
  extension when applying a <strong>public interest test</strong>.  Information
  Commissioner guidance says that it should only be used in "exceptionally
  complex" cases
  (<a href="http://www.ico.gov.uk/upload/documents/library/freedom_of_information/detailed_specialist_guides/foi_good_practice_guidance_4.pdf">FOI Good Practice Guidance No. 4</a>).
  WhatDoTheyKnow doesn't specifically handle this case, which is why we use the
  phrase "should normally have responded by" when the 20 working day time is
  exceeded.
  </p>

  <p>The same guidance says that, even in exceptionally complex cases, no
  Freedom of Information request should take more than <strong>40 working days</strong>
  to answer.  WhatDoTheyKnow displays requests which are overdue by that much
  with stronger wording to indicate they are definitely late.
  </p>

  <p>The Freedom of Information (Scotland) Act does not allow such a public
  interest extension. WhatDoTheyKnow would like to see the law changed to either
  remove the extension from the UK Act, or to reintroduce an absolute time limit
  of 40 working days even with the extension (the House of Lords <a
  href="http://www.publicwhip.org.uk/division.php?date=2000-10-17&amp;number=1&amp;house=lords">voted
  to remove</a> provision for such a time limit during the initial passage
  of the UK Act through Parliament).
  </p>
  </dd>

  <dt id="large_file">How can I send a large file, which won't go by email?<a href="#large_file">#</a> </dt>

  <dd>Instead of email, you can respond to a request directly from your web
  browser, including uploading a file. To do this, choose "respond to request" at
  the bottom of the request's page. <a href="<%= help_contact_path %>">Contact us</a> if it
  is too big for even that (more than, say, 50Mb).
  </dd>

  <dt id="names">Why do you publish the names of civil servants and the text of emails? <a href="#names">#</a> </dt>

  <dd>We consider what officers or servants do in the course of their employment
  to be public information. We will only remove content in exceptional
  circumstances, see our <a href="<%= help_privacy_path(:anchor => 'takedown') %>">take down policy</a>.
  </dd>
-->
  <dt id="mobiles">Publiserer dere epost adresser og mobil nummer? <a href="#mobiles">#</a> </dt>

  <dd><p>For å forhindre spam, vil vi automatisk fjerne de fleste epostadresser og noen mobil numnere. Vennligst <a href="<%= help_contact_path %>">kontakt oss</a> om det er noen vi har bommet på.
  Av tekniske grunner klarer vi ikke å fjerne de fra alle vedlegg, for eksempel noen PDF-filer. </p>
  <p>Om du trenger en av epostadressene vi har fjernet, vennligst <a href="<&= help_contact_path %">hør med oss</a>a>. Fra tid til annnen utgjørt en epostadresse en viktig del av svaret på innsynsbegjæringen og vi vil da legge inn en obskure versjon som en kommentar.
  </p>
  </dd>

  <dt id="copyright"><a id="commercial"></a>Hva er politikken deres på opphavsrett?<a href="#copyright">#</a> </dt>

  <dd>Offentlighetslova skiller ikke mellom henvendelser, og alle i hele verden kan spørre etter dokumenter og få kopi av disse. Om du tror at vi deler dokumenter som bryter med opphavsretten din, kan du <a href="<%= help_contact_path %>">kontakte oss</a> og spørre om vi kan fjerne de. Allikevel, for å spare skattepenger og hindre negativ PR, anbefaler vi at du ikke gjør dette.
  </dd>

  </dl>

  <p><strong>If you haven't already</strong>, read <a href="<%= help_about_path %>">the introduction</a> --&gt;
  <br><strong>Otherwise</strong>, the <a href="<%= help_credits_path %>">credits</a> or the <a href="<%= help_api_path %>">programmers API</a> --&gt;

  <div id="hash_link_padding"></div>
</div>


