<% @title = "Personvern" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="email_address">Hvem får se e-postadressen min? <a href="#email_address">#</a> </dt>

<dd><p>Vi vil aldri gi ut e-postadressen din til noen, utenom hvis en lov krever det, eller du ber oss om det. Dette inkluderer offentlige myndigheter som du korresponderer med. Den eneste e-postadressen de vil se er en @<%= AlaveteliConfiguration::incoming_email_domain %> adresse unik for den ene korrespondansen. </p>
<p>Om du sender en melding til en annen bruker på denne tjenesten, vil de oppdage e-postadressen din. Vi vil fortelle deg når dette skjer. </p>

</dd>

<dt id="nasty_spam">Vil dere sende råtten søppel-epost til e-postadressen min? <a href="#nasty_spam">#</a></dt>
<dd>Nei. Når du har registrert deg på <%= site_name %> vil vi bare sende deg e-post relatert til henvendelsene du har sendt, e-post varslinger du abonnerer på, eller for andre grunner som du har gitt oss lov til. Vi vil aldri gi ut eller selge e-postadressen din, med unntak om loven eller du ber oss om det.
</dd>

<dt id="public_request">Hvorfor vil navnet mitt og henvendelsen ligge offentlig tilgjengelig på tjenesten? <a href="#public_request">#</a> </dt>

<dd>
	<p>Vi publiserer henvendelsen din på Internettet slik at alle
	  kan lese den og nyttiggjøre seg av informasjonen. Vi sletter
	  normalt ikke henvendelser(<a href="#delete_requests">flere
	  detaljer</a>).</p>

	<p>Navnet ditt er knyttet opp mot henvendelsen, så vi
	  publiserer også dette. Det er rett og rimelig siden vi også
	  publiserer navnet på saksbehandleren som behandler
	  henvendelsen.</p>

</dd>

<dt id="real_name">Kan jeg bruke et pseudonym når jeg ber om innsyn eller veiledning?<a href="#real_name">#</a> </dt>

<dd>
<p>Loven i Norge sier ingenting om at du må navngi deg for å be om innsyn. Allikevel anbefaler vi deg å skrive under fult navn, om du ikke har noen gode grunner for ikke å gjøre det.</p>

<p>Vennligst ikke lat som du er en annen lett identifiserbar person</p>

</dd>

<dt id="full_address">De har spurt om min postadresse! <a href="#full_address">#</a> </dt>

<dd>
<p>Om de spør om din fysiske adresse så si at du vil ha dokumentene elektronisk tilsendt på e-post</p>
</dd>

<dt id="postal_answer">Nei, nei, de trenger postadressen for å sende et svar på papir! <a href="#postal_answer">#</a> </dt>

<dd>
<p>Har myndigheten kun papir kopi av informasjonen du vil ha, så kan det hende at de spør om vanlig postadresse. Du kan, som en start, forsøke å be de scanne dokumentene. Du kan t.o.m. <a href="http://www.whatdotheyknow.com/request/car_parking_charges_policy_and_a#outgoing-532">tilby deg å gi de en scanner</a>, som i dette enkle tilfelle satt myndighetene i slik forlegenhet at de klarte å finne en scanner de allerede satt på.</p>

<p>Om dette ikke fungerer, kan du gi de din postadresse for å motta dokumentene, marker henvendelsen din som "De vil svare per. post", og den vil gi deg en e-postadresse du kan bruke for dette formålet.</p>
</dd>

<!--
<dt id="delete_requests">Can you delete my requests, or alter my name?  <a href="#delete_requests">#</a> </dt>

<dd>

<p><%= site_name %> is a permanent, public archive of Freedom of
Information requests. Even though you may not find the response to
a request useful any more, it may be of interest to others. For this
reason, we will not delete requests.
</p>

<p>Under exceptional circumstances we may remove or change your name
on the website, <a href="#takedown">see the next question</a>.
Similarly, we may also remove other personal information.
</p>

<p>If you're worried about this before you make your request,
see the section on <a href="#real_name">pseudonyms</a>.</p>

</dd>

<dt id="takedown">Can you take down personal information about me? <a href="#takedown">#</a> </dt>

<dd>

<p>If you see any personal information about you on the site which you'd like
us to remove or hide, then please <a href="/help/contact">let us know</a>.
Specify exactly what information you believe to be problematic and why, and
where it appears on the site.</p>

<p>If it is sensitive personal information that has been accidentally
posted, then we will usually remove it. Normally we will only consider
requests to remove personal information which come from the individual
concerned, but for sensitive information we would appreciate anyone
pointing out anything they see.</p>

<p>We consider that there is a strong public interest in
retaining the names of officers or servants of public authorities. We will only
remove such names in exceptional circumstances, such as where the disclosure of
a name and position of employment would substantially risk an individual's
safety. If you are such an official and you wish to have your name removed for
such an urgent reason, you must supply us with a request to do so from your
line manager. This request must demonstrate that a risk has been perceived
which outweighs the public interest, and must demonstrate that efforts have
been made to conceal the name on the organisation's own website.</p>

<p>For all other requests we apply a public interest test to decide
whether information should be removed.
<a href="http://www.statutelaw.gov.uk/content.aspx?ActiveTextDocId=3190650"> Section 32</a>
of the Data Protection Act 1998 permits us to do this, as the material we
publish is journalistic. We cannot easily edit many types of attachments (such
as PDFs, or Microsoft Word or Excel files), so we will usually ask
that authorities resend these with the personal information removed.</p>

</dd>
-->

</dl>

<p><strong>Lær mer </strong> fra hjelpen for <a href="/help/officers">saksbehandlere</a> --&gt;

<div id="hash_link_padding"></div>


</div>
