<% @title = "Misfornøyd med innsynsforespørselen?" %>


<% if @info_request %>
<h1>Misfornøyd med svaret du fikk
på henvendelsen '<%=request_link(@info_request) %>'?
</h1>
<% else %>
<h1>Misfornøyd med svaret?</h1>
<% end %>

<p>Om ...</p>

<ul>
  <li>Du ikke har fått svar innen 5 arbeidsdager</li>
  <li>Du ønsker en utvidet begrunnelse av et avslag</li>
  <li>Henvendelsen ble avslått, men uten å vise til en gyldig grunn</li>
</ul>

<p>... kan du</p>

<ol>
  <li><strong>Klage på avslaget</strong> fra myndigheten.</li>
  <li>Også forsøke <strong>andre metoder</strong> for å få svar på spørsmålet dit.
</ol>

<h1 id="internal_review">1. Klage på svaret <a class="hover_a" href="#internal_review">#</a> </h1>

<p>
  <% if @info_request %>
    <%= link_to "Klag på svaret, new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> og skriv en melding om hva du klager på.
<% else %>
  Velg "Klag på svaret" nederst på henvendelsessiden på <%= site_name %>,
  og skriv en melding hvor du sier at du klager og hva det er du
  klager på. Du kan legge med en lenke til henvendelsessiden, for å
  klargjøre hvilken henvendelse du skriver om.
<% end %>
</p>

<p>Pressens offentlighetsutvalg har
<a href="http://presse.no/offentlighet/klag-pa-1-2-3/">en rekke gode
utkast til klagetekster</a> som du kan vurdere å bruke i din klage.
Vi anbefaler at du tar en nøye titt på disse mens du formulerer klagen
din.</p>

<p>Behandlingen av klagen skal skje raskt. Om det tar mer enn 5 dager
bør du få beskjed om dette. Du klager direkte til myndigheten som har
gitt avslag. Det bør aldri ta mer enn 30 dager å få behandlet
klagen. Du vil enten få den informasjonen du opprinnelig ba om, eller så
  vil du bli fortalt at avslaget opprettholdes.
</p>


<h1 id="complaining">2. Klage til Kongen i statsråd eller Sivilombudsmannen <a class="hover_a" href="#complaining">#</a> </h1>

<p>Er du fortsatt misfornøyd etter at klagen din er behandlet, da kan
du klage til Kongen i statsråd eller Sivilombudsmannen.  Det er best
om du da skriver ut hele henvendelsen og sender dette på papir med
alle vedlegg.  Merk at hvis du klager til Kongen i statsråd mister du
muligheten til å klage til Sivilombudsmannen.  Statistikk viser
forøvrig at det er svært liten sjanse for å få medhold i klager til
Kongen i statsråd.  </p>

<p>For å gjøre det enklere å sende inn relevant informasjon til Kongen
i statsråd eller Sivilombudsmannen, enten
<% if @info_request %>
    ta med en lenke til din henvendelse
    <strong><%=h request_url(@info_request) %></strong>
<% else %>
    ta med en lenke til din henvendelse på <%= site_name %>
<% end %>
i klagen din eller skriv ut hele henvendelses-siden og alle vedlegg.
</p>

<p><%= site_name %> har ikke et system for å håndtere slike
klager. Men om du klager er det fint om du legger inn en kommentar på
saken, slik at folk kan holde seg orientert.</p>

<p>Du kan også forsøke å få tak i informasjonen på <strong>andre måter...</strong></p>

<h1 id="other_means">3. Andre metoder for å få informasjonen <a class="hover_a" href="#other_means">#</a> </h1>

<p>Du kan forsøke å forfølge saken din på andre måter.

  <ul>
    <li>Lag en <strong>ny innsynsforespørsel</strong> der du ber om
      oppsummerert informasjon, eller om dokumentasjon som er
      indirekte relatert til avslått henvendelse. <strong>Spør oss
      gjerne om idéer</strong> hvis du står fast.</li>

    <li>Om <strong>andre myndigheter</strong> har informasjonen, kan
      du gjøre en innsynshenvendelse der.</li>
    <li>Skriv til en av dine <strong>stortingspolitikere</strong>,
      eller andre organisasjoner og spør om de kan hjelpe deg.</li>
    <li>Spør andre personer som er interessert i lignende
    informasjon. Du kan finne dem ved å titte rundt her; kontakt
      registrerte brukere via siden deres.</li>
</ul>
